.UpdatesRec {
    box-sizing: border-box;
    width: 90vw;
    height: auto;
    border: 5px solid #000000;
    border-radius: 26px;
    padding: 40px;
    text-align: start;
    margin-bottom: 40px;
}


.title__updates {
    font-weight: 600;
    font-size: 100px;
    line-height: 102px;
    color: #150E0E;
    text-align: start;
}

.UpdatesRec h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: start;
}

.UpdatesRec p {
    text-align: start;
}